DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:7200,http://localhost:7200
DJANGO_SECURE_SSL_REDIRECT=False
SITE_URL=http://127.0.0.1:7200

POSTGRES_DB=health_feedback
POSTGRES_USER=postgres
POSTGRES_PASSWORD=p@ssw0rd
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

RATE_LIMIT_SUBMISSIONS=5
RATE_LIMIT_WINDOW_SECONDS=3600
